<div class="gulogo">
    <a class="gulogo" href="http://www.library.georgetown.edu" title="Georgetown University Library Website">
        <%= image_tag "/assets/gu-library-logo-small-inverted.png", :alt => "Georgetown University Library Website" %>
    </a>
    <a class="gudglogo" href="http://repository.library.georgetown.edu" title="DigitalGeorgetown">
        <%= image_tag "/assets/digitalgeorgetown-logo-small-inverted.png", :alt => "DigitalGeorgetown Logo" %>
    </a>
    <!--
    <a class="gureplogo" href="http://www.library.georgetown.edu/special-collections" title="Booth Family Center for Special Collections">
        <%= image_tag "/assets/bfcsc-logo-small-inverted.png", :alt => "Booth Family Center for Special Collections Logo" %>
    </a>
    <a class="gureplogo" href="https://bioethics.georgetown.edu/" title="Bioethics Research Library at Georgetown University">
        <%= image_tag "/assets/brl-logo-40ht.png", :alt => "Bioethics Research Library at Georgetown University Logo" %>
    </a>
    <a class="gureplogo" href="http://www.library.georgetown.edu/woodstock" title="Woodstock Theological Library at Georgetown University">
        <%= image_tag "/assets/woodstock-logo-small-inverted.png", :alt => "Woodstock Theological Library at Georgetown University Logo" %>
    </a>
    -->
</div>
<h1>                                                                            
     <%= I18n.t("brand.title") %>
</h1>   
