<% set_title I18n.t("brand.home") %>

<br/>

<div class="well">
  <div class="row-fluid">
    
    <div class="span8">
      
      <h3><%= I18n.t("brand.welcome_message") %></h3>
      <p><%= I18n.t("brand.welcome_search_label") %></p>

      <div class="tab-content">
        <div id="simpleSearch" class="tab-pane active">
          <%= render_aspace_partial :partial => "simple_search" %>
        </div>
        <div id="advancedSearch" class="tab-pane">
          <%= render_aspace_partial :partial => "advanced_search" %>
        </div>
      </div>

      <ul class="search-switcher">
        <li class="active">
          <a href="#simpleSearch" data-toggle="tab"><%= I18n.t("actions.hide_advanced_search") %></a>
        </li>
        <li>
          <a href="#advancedSearch" data-toggle="tab"><%= I18n.t("actions.show_advanced_search") %></a>
        </li>
      </ul>

      <hr/>
      <p>This site provides centralized access to written descriptions (known as finding aids) of hundreds of archival resources 
      housed at Georgetown University: in the Manuscripts Unit, the Rare Books Unit and the University Archives 
      in the Booth Family Center for Special Collections, Lauinger Library; in the Woodstock Theological Library, 
      Lauinger Library; and in the Bioethics Research Library Archives, the Kennedy Institute of Ethics, Healy Hall.  
      New content is added on a regular basis.</p>  
      <p>You can use this site to locate resources relating to your area(s) of research.  
      It will also link you to the curatorial staff who oversee the resources so that you can submit 
      questions or arrange to work with the original materials.</p>
      <h4>What are archival resources?</h4>
      <p>The Society of American Archivists' Glossary of Archival and Records Terminology by Richard Pearce-Moses published 
      in 2005 defines "archives" as: Materials created or received by a person, family, or organization, public or private, 
      in the conduct of their affairs and preserved because of the enduring value contained in the information they contain or 
      as evidence of the functions and responsibilities of their creator.  An archival resource can range in size from a single 
      scrapbook to thousands of folders of institutional records and can include items such as letters, diaries, photographs, 
      research papers, drafts of literary works, newspaper clippings, audio/visual material, financial records, 
      meeting minutes, and reports.</p>
      <h4>What is a finding aid?</h4>
      <p>A finding aid is a research tool which describes an archival resource and facilitates discovery of information 
      about specific subjects, people, places, or events within it.  A finding aid can help you determine whether 
      the resource it describes might be relevant to your information needs.  The level of detail will vary between 
      finding aids but they generally supply core information such as the size, date span, subject coverage, 
      and arrangement of resources.  Some will also include an administrative history or biographical note, 
      scope and content note, and/or inventory of boxes, folders or items.</p>
      <h4><a href="mailto:speccoll@georgetown.edu">Contact us</a> about: </h4>
      <ul>
        <li>questions on archival resources or items within them</li>
        <li>making an appointment to view original materials</li>
        <li>reproduction requests</li>
        <li>materials you are unable to find through the portal</li>
      </ul>
    </div>
    <div class="span4 gucarroll">
      <%= image_tag "/assets/CarrollStatue.jpg", :alt => "John Carroll Statue" %>
    </div>
  </div>
</div>
