<section  id="header">
  <div class="gulogo">
    <a class="gulogo" href="http://www.library.georgetown.edu" title="Georgetown University Library Website">
        <%= image_tag "/assets/gu-library-logo-small-inverted.png", :alt => "Georgetown University Library Website" %>
    </a>
    <a class="gudglogo" href="http://repository.library.georgetown.edu" title="DigitalGeorgetown">
        <%= image_tag "/assets/digitalgeorgetown-logo-small-inverted.png", :alt => "DigitalGeorgetown Logo" %>
    </a>
  </div>
  <div class="row">
    <div class="col-sm-9 h1"><% unless request.original_fullpath == '/' %>
        <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>"><% end %> <%= t('brand.title') %><% unless request.original_fullpath == '/' %></a><% end %> 
    </div>
  </div>
</section>
